# This file specifies the files and directories that Docker should ignore when building the image.
# Unnecessary or sensitive files are excluded here to keep the image lightweight and safe.

__pycache__/
**/__pycache__
**/.venv
**/.env
**/.git
**/.gitignore
**/.settings
**/.vs
**/.vscode
**/.dockerignore
**/Dockerfile*
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tf
README.md
